<h1><%= t('messages.listing', model: @questions.model_name.human(count: @questions.count)) %></h1>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= translate_attribute(@questions, :description) %></th>
      <th scope="col"><%= translate_attribute(@questions, :subject) %></th>
      <th scope="col">
        <%= link_to  new_admins_backoffice_question_path, class: 'btn btn-success btn-circle btn-sm' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <th scope="row" style="width: 80px"><%= question.id %></th>
        <td><%= question.description.truncate(150) %></td>
        <td><%= question.subject.description %></td>
        <td style="width: 100px">
          <%= link_to edit_admins_backoffice_question_path(question), class: 'btn btn-primary btn-circle btn-sm' do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admins_backoffice_question_path(question), method: :delete, class: 'btn btn-danger btn-circle btn-sm', data: { confirm: t('messages.confirm_with', item: question.description.truncate(35))} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @questions %>
</div>
