<h1><%= "#{action_message} #{@question.model_name.human}" %></h1>
<br><br>

<% if @question.errors.any? %>
  <% @question.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <li><%= message %></li>
    </div>
  <% end %>
<% end %>

<%= form_with(model: [ :admins_backoffice, @question ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class:'form-control', id: 'exampleInputEmail1', placeholder: t('placeholders.question_description'), rows: 4 %>
  </div><br>

  <div class="form-group">
    <%= form.label :subject_id %>
    <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, {class: 'form-control'}) %>
  </div><br>

  <div id="answers">
    <%= form.fields_for :answers do |answer| %>
      <%= render partial: 'answer_fields', locals: { f: answer } %>
    <% end %>

    <%= link_to_add_association '[Adicionar Resposta]', form, :answers %>
  </div>

  <button type="submit" class="btn btn-primary"><%= t('buttons.save') %></button>
<% end %>