<h1><%= t('messages.listing', model: @subjects.model_name.human(count: @subjects.count)) %></h1>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= translate_attribute(@subjects, :description) %></th>
      <th scope="col">
        <%= link_to  new_admins_backoffice_subject_path, class: 'btn btn-success btn-circle btn-sm' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <th scope="row" style="width: 80px"><%= subject.id %></th>
        <td><%= subject.description %></td>
        <td style="width: 100px">
          <%= link_to edit_admins_backoffice_subject_path(subject), class: 'btn btn-primary btn-circle btn-sm' do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to admins_backoffice_subject_path(subject), method: :delete, class: 'btn btn-danger btn-circle btn-sm', data: { confirm: t('messages.confirm_with', item: subject.description.truncate(35))} do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @subjects %>
</div>
