<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'users_backoffice' %>
</head>

<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <% if current_user.first_name %>
        <%= link_to users_backoffice_welcome_index_path, 'data-toggle': 'modal', 'data-target': '#avatarModal', class: 'sidebar-brand d-flex align-items-center justify-content-center' do %>
          <%= image_tag(avatar_url, size: '55x55', class:'img-profile rounded-circle', id: 'imgAvatarMd') %>
          <div class="sidebar-brand-text mx-3"><%= current_user.first_name %></div>
        <% end %>
      <% end %>

      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <%= link_to user_backoffice_path, class: 'nav-link' do %>
          <i class="fas fa-home"></i>
          <span>Início</span>
        <% end %>
      </li>
      
      <li class="nav-item">
        <%= link_to users_backoffice_profile_path, class: 'nav-link' do %>
          <i class="fas fa-user"></i>
          <span>Dados do perfil</span>
        <% end %>
      </li>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.first_name %></span>
                <%= image_tag(avatar_url, class: 'img-profile rounded-circle', id: 'imgAvatarSm') %>
              </a>

              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                <% end %>
              </div>
            </li>
          </ul>
        </nav>
        
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Modal -->
  <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <%= form_with(url: users_backoffice_profile_path, model: current_user) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Avatar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form.fields_for :user_profile do |profile_form| %>
            <div class="form-group", style="text-align: center">
              <%= image_tag(avatar_url, id: 'imgAvatarLg',
              size: '150x150', class: 'img-profile rounded-circle') %>
              <br><br>
              <%= profile_form.file_field :avatar %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= form.submit 'Salvar', class: 'btn btn-primary'%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <!-- /Modal -->
  
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'users_backoffice' %>

  <% if notice %>
    <%= javascript_tag do %>
      $.notify('<%= notice %>', 'success')
    <% end %>
  <% end %>

  <%= javascript_tag do %>
    $(function() {
      $('.datepicker').datepicker();
    });
  <% end %>
</body>
</html>
